{% extends "bruce_inventory/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <style>
body {background-color: #ea7b0b;}
h1 {font-size: 20px; font-family: showcard gothic; color: green; background-color: yellow;}
p {margin-left: 200px;}
p2 {margin-left: 300px;}
h2 {font-size: 20px; font-family: rockwell; color: #1eeeee;}
h3 {font-size: 20px; font-family: Algerian; color: red;}
  </style>
  <h1>Welcome to Bruce Wang's Tethys App!</h1>
<p><h1>This unique App will introduce myself</h1></p>
  <h2>Bangyu (Bruce)Wang. I come from Xi'an, China. The world-famous historical site, the Terra Cotta Warriors, are from my hometown.</h2>
  <h2>I received the Gospel of Jesus Christ and became a member of the Church of Jesus Christ of Latter Day Saints on 2012. </h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Giant_Wild_Goose_Pagoda.jpg/1280px-Giant_Wild_Goose_Pagoda.jpg" style="width: 50%; height: 50%;">
<img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Terracota_warriors_002.jpg" style="width: 50%; height: 50%;">
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}